nav-page#app-page
  //-
      Create tabs with an icon and text label, using the tabs-positive style (blue by default),
      and disabling header title animation when switching tabs.

  tabs(tabs-style='tabs-icon-top', tabs-type='tabs-positive', animate-nav='true')
    //-
       Home tab
    tab(title='Home', icon='icon ion-home')
      content(has-header='true', has-tabs='true', padding='true')
        h3 Home sweet home

    //-
       Questions tab
    tab(title='Questions', icon='icon ion-monitor', ng-controller='QuestionListCtrl')
      content(has-header='true', has-tabs='true')
        list
          item(ng-repeat='q in questions', type='item-text-wrap', href='#/question/{{q.id}}')
            h3 {{q.title}}
            p {{q.description}}

    //-
       About tab
    tab(title='About', icon='icon ion-search')
      content(has-header='true', has-tabs='true', padding='true')
        h3 About this app
        p
          | This is a sample seed project for the Ionic Framework. Please change it to match your needs.
