#container
    padding 150px
    font 10px helvetica
    color green

.item.item-icon.left .icon
    color: #4a87ee
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    -moz-align-items: center
    align-items: center
    position: absolute
    top: 0
    height: 100%
    font-size: 32px
    left: 7.5px

a.item
    padding-left: 45px

